<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="//unpkg.com/3d-force-graph"></script>
</head>
<body>
    <h1>Thinkspace</h1>
    <div id="3d-graph"></div>
  
    <script>
      gData = {
        "nodes": [ {"id": 0, "name": "dog", "content": "data/wanwan.html"},
                   {"id": 1, "name": "cat", "content": "data/nyanya.html"},
                   {"id": 2, "name": "bird", "content": "data/chunchun.html"} ],
        "links": [ {"source": 0, "target": 1},
                   {"source": 0, "target": 2} ]
      };

      function add_node(node){
        const {nodes, links} = Graph.graphData();
        const id = nodes.length;
        Graph.graphData({
                nodes: [...nodes, {"id": id, "name": "unknown", "content": "unknown" }],
                links: [...links, {"source": node.id, "target": id}]
            });
      }
  
      const Graph = ForceGraph3D()
        (document.getElementById('3d-graph'))
          .graphData(gData)
          .onNodeClick(add_node);
    </script>
</body>
</html>